.contenedor {
    margin-top: 100px;
    text-align: center;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(76, 103, 177, 0.5);
    transition: 0.3s;
    width: 300px;
    margin-bottom: 30px;
    padding: 20px 0px;
    display: inline-block;
    background-color: rgb(175, 208, 236);
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(74, 29, 179, 0.7);
}

.btn {
    padding: 5px 25px;
    width: 150px;
    border: 3px solid rgba(63, 108, 167, 0.685);
    border-radius: 5px;
}

::ng-deep .bc-card {
    width: 450px;
    display: inline-block;
}

.input {
    text-align: center;
    width: 250px;
    display: inline-block;
    margin: 50px 0px;
}